colorzero==2.0
distro==1.8.0
gpiozero==2.0.1
lgpio==0.2.2.0
pigpio==1.78
pycryptodomex==3.11.0
requests==2.28.1
six==1.16.0
smbus2==0.4.2
spidev==3.5
toml==0.10.2

# system packages (apt), not pip:
# python3-apt
# rpi-keyboard-config
# ssh-import-id
